/* DESKTOP 1440 MEDIA QUERIES */

/* MAIN */
.principal-container {
	height: 650px;
}
.secondary-container img {
	width: 100vw;
	height: auto;
}
.about-us__container p {
	font-size: 1.2rem;
	padding: 20px 10px;
}

/* PRODUCTOS */
.products-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.card-container {
	justify-content: center;
}

.card {
	width: 25%;
	height: 350px;
	margin: 50px;
}
.card-name {
	font-size: 1.2rem;
	color: #3f6506;
}

.card-description {
	font-size: 0.8rem;
	padding: 0px 10px;
	color: #676464;
}

.card button {
	width: 190px;
	font-size: 1.2rem;
}
.footer-container {
	padding: 10px 45px;
}

/* FORMULARIO */
.form {
	width: 800px;
}

.form1 span {
	font-size: 1rem;
}

input {
	height: 40px;
}

/* LISTAS */

.list-table {
	min-width: 400px;
	max-width: 900px;
	height: auto;
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
	font-size: 0.75rem;
	gap: 0.1rem;
}

.list-container img {
	display: block;
	width: 140px;
	height: 70px;
}

.list-table p:nth-child(-n + 5) {
	font-size: 1rem;
	background-color: #40670b;
	color: white;
}

.list-table p {
	width: 100%;
	height: 100%;
	background-color: #d8dec9;
	font-size: 0.85rem;
}
