* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--font-family: "Mooli";
	--header-font-color: #3a3a3a;
}

html {
	font-family: var(--font-family);
	scroll-behavior: smooth;
}

/* MOBILE  */

/* HEADER */

.logo__link img {
	width: 75px;
	height: 75px;
}

nav ul {
	position: fixed;
	width: 100%;
	height: 450px;
	background: #497607;
	top: 80px;
	left: 100%;
	text-align: center;
	transition: all 0.3s;
}

nav ul li {
	display: block;
	margin: 50px 0;
	line-height: 30px;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2rem;
}

nav ul li a:hover {
	color: #1f0776;
	transition: 0.5s;
}
.img {
	display: flex;
	align-items: center;
	justify-content: center;
}
.img img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#check {
	display: none;
}

#check:checked ~ ul {
	left: 0;
}

.checkbtn {
	display: block;
	padding: 30px;
	float: right;
}

/* PRESENTACION*/
.presentation {
	width: 100%;
	height: auto;
	background-color: #dee8cc;
	display: flex;
	flex-direction: column;
	border-radius: 10px 10px 15px 15px;
}

.principal-container img {
	width: 100%;
	/* height: 120px; */
	background-size: cover;
	background-repeat: no-repeat;
	border: 5px solid white;
}

.secondary-container img {
	border: 5px solid white;
	border-radius: 0px 0px 10px 10px;
}

.white-logo-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}

.white-logo-container img {
	height: 70px;
	width: 70px;
}

.white-logo-container p {
	font-size: 0.9rem;
	text-align: center;
	padding-top: 20px;
}

/* NOSOTROS */
.about-us {
	margin-top: 15px;
	margin-right: 5px;
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.h1__title {
	text-align: center;
	font-size: 1.3rem;
	color: #497607;
}

.about-us__container {
	margin: 15px 5px;
	padding: 5px;
	background-color: rgba(230, 227, 232, 0.4);
	width: 100%;
	height: auto;
	border-radius: 30px 0px 30px 0px;
}

.about-us__container p {
	margin: 20px 20px;
	color: #716e6e;
	font-size: 1rem;
	text-align: center;
	line-height: 2;
}

.about-us__container span {
	color: #497607;
	font-weight: bold;
}

/* PRODUCTOS */

.products {
	width: 100%;
	height: auto;
	background-color: white;
	padding: 1%;
}

.card-container {
	/* max-width: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16px;
	margin-top: 30px;
}

.card {
	width: 60%;
	max-width: 280px;
	height: 280px;
	border-radius: 20px;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	background-color: #ebfad7;
	transition: transform 0.3s;
}

.card:hover {
	transform: scale(1.2);
}

.card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 15px;
}

.card-name {
	margin-top: 12px;
	font-size: 0.95rem;
	font-weight: bold;
}

.card-description {
	font-size: 0.7rem;
	margin: 7px;
}

.card button {
	background-color: rgb(27, 95, 7);
	color: white;
	width: 120px;
	border: none;
	padding: 6px 8px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 11px;
	font-size: 1rem;
}

.card button:hover {
	background-color: rgb(44, 149, 13);
	transition: 0.5s;
}

/* FORMULARIO */
.form-container {
	width: 100%;
	height: auto;
	background-color: white;
	border-radius: 10px 0px 10px 0px;
	padding: 10px;
	margin-top: 20px;
}

.form {
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px 10px;
	background-color: #e8f0d9;
	width: 90vw;
	height: auto;
	border-radius: 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	border: 0.5px solid #dcf0b7;
}

.form1 {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form span {
	font-size: 0.9rem;
	color: #89a364;
	padding-top: 5px;
	padding-bottom: 5px;
}

input {
	height: 40px;
	border-radius: 5px;
	border: 0.5px solid #dcf0b7;
	padding: 0px 10px 0px 10px;
	background-color: white;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
	outline: none;
	border: 1px solid #dcf0b7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

textarea {
	border-radius: 5px;
	height: 130px;
	border: 0.5px solid #dcf0b7;
	background-color: white;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	padding: 10px 10px 0px 10px;
}

textarea:focus {
	outline: none;
	border: 1px solid #dcf0b7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.form-button {
	background-color: rgb(27, 95, 7);
	color: white;
	width: 90px;
	border: none;
	border-radius: 30px;
	padding: 3px;
	border-radius: 6px;
	cursor: pointer;
	margin: 5px 2px 2px 210px;
	font-size: 0.8rem;
	text-align: center;
}

/* FOOTER */

footer {
	width: 100%;
	height: auto;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 25px;
	align-items: center;
	background: rgb(220, 236, 191);
	background: linear-gradient(
		360deg,
		rgba(220, 236, 191, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}

.natural-logo {
	height: 80px;
	width: 80px;
}

.footer-socialMedia-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	color: #3f6506;
}

.footer-socialMedia-icons img {
	height: 27px;
	width: 27px;
	filter: sepia(0.3) hue-rotate(80deg) saturate(400%) brightness(1.2);
}

/* LISTAS */

.list-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(245, 246, 242);
	background: linear-gradient(
		180deg,
		rgba(245, 246, 242, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}

.list-container h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 1.2rem;
	color: #40670b;
	font-weight: bold;
}

.list-table {
	width: 100%;
	min-width: 100px;
	max-width: 360px;
	height: auto;
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
	font-size: 0.75rem;
	gap: 0.1rem;
}

.list-table p:nth-child(-n + 4) {
	font-size: 0.8rem;
	background-color: #40670b;
	color: white;
}

.list-table p {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 1rem;
	background-color: #d8dec9;
}
